<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>
<script src="https://kit.fontawesome.com/d11b542e83.js" crossorigin="anonymous"></script>
</head>


<body>
<header>
    <section class="logo">
    <img src = "images/logo-mercado-liebre.svg" alt ="Logo de mercado Liebre" class="imglogo" >

    <div class="navbar">
        Buscar productos, marcas
    <i class="fas fa-search"></i>
    </div>
    <div class="compra"><i class="fas fa-dollar-sign"></i> Compra en cuotas y sin tarjeta de credito</div>
</section>
    <nav class="pantgrande"> 
     <section class="eleg1">
        <div class="ofertas"><a href = "#">Ofertas</a></div>
        <div class="tiendas"><a href = "https://www.mercadolibre.com.ar/">Tiendas oficiales</a></div>
        <div class="vender"><a href = "#">Vender</a></div>
        <div class="ayuda"><a href = "#">Ayuda</a></div>
     </section>
<section class="espacioinv"></section>
        <section class="eleg2">
        <div class="crearcuenta"><a href = "/register"> <i class="far fa-address-card"></i>Crea tu cuenta</a></div>
        <div class="ingresa"><a href = "/ingresar"> <i class="fas fa-sign-in-alt"></i> Ingresa</a></div>
        <div class="compras"><a href = "http://"> <i class="fas fa-shopping-cart"></i> Mis compras</a></div>
     </section>
    </nav>
    <div class="burguer-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>

<section>
    <img src="/images/img-home-banner.jpg" alt="imagenhome" width="100%">
</section>

    <main>
<section class="adaptable">
<h2>Basado en tu ultima visita</h2>
<article class="articulos">
<img class="img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%" >
<div class="detalles">
<p class="precio">$6750</p>
<p class="descuentos">40% off</p>
<p class="b">Cafetera Moulinex</p>
<i class="fas fa-shipping-fast"></i>
</div>
</article>

<article class="articulos">
    <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="100%">
    <div class="detalles">
    <p class="precio">$230.000</p>
    <p class="descuentos">20% off</p>
    <p class="b">MacBook Pro 2019 </p>
    <i class="fas fa-shipping-fast"></i>
    </div>
    </article>

    <article class="articulos">
        <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" width="100%">
        <div class="detalles">
        <p class="precio">$70.500</p>
        <p class="descuentos">10% off</p>
        <p class="b">Samsung Galaxy S10 </p>
        <i class="fas fa-shipping-fast"></i>
        </div>
        </article>

        <article class="articulos">
            <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung" width="100%">
            <div class="detalles">
            <p class="precio">$23.200</p>
            <p class="descuentos">5% off</p>
            <p class="b">SmartTv Samsung 43"</p>
            <i class="fas fa-shipping-fast"></i>
            </div>
            </article>
        </section>
    <section>
        <section class="adaptable">
            <h2> Ofertas </h2>
            
            <article class="articulos">
                <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
                <div class="detalles">
                <p class="precio">$6750</p>
                <p class="descuentos">40% off</p>
                <p class="b">Cafetera Moulinex</p>
                <i class="fas fa-shipping-fast"></i>
                </div>
                </article>
            
                <article class="articulos">
                    <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="100%">
                    <div class="detalles">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="b">MacBook Pro 2019 </p>
                    <i class="fas fa-shipping-fast"></i>
                    </div>
                    </article>
            
                    <article class="articulos">
                        <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" width="100%">
                        <div class="detalles">
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="b"> Samsung Galaxy S10</p>
                        <i class="fas fa-shipping-fast"></i>
                        </div>
                        </article>
            
                        <article class="articulos">
                            <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung" width="100%">
                            <div class="detalles">
                            <p class="precio">$23.200</p>
                            <p class="descuentos">5% off</p>
                            <p class="b">SmartTv Samsung 43"</p>
                            <i class="fas fa-shipping-fast"></i>
                            </div>
                            </article>

    </section>
    </main>

    <footer>
        <div class="icon-footer">
            <i class="fa-solid fa-credit-card"></i>
            <p>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <br>
            Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
         </div>

         <div class="icon-footer">
            <i class="fa-solid fa-gift"></i>
            <p>
            <strong>Envío gratis desde los $2.500</strong>
             <br>
             Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Liebre</p>
         </div>

         <div class="icon-footer">
             <i class="fa-solid fa-user-shield"></i>
             <p>
             <strong>Seguridad de principio a fin</strong>
             <br>
             ¿No te gusta?¡devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegido.</p>
         </div>

         <div class="copy">
            <p>CopyRight © 1999-2020 MercadoLiebre S.R.L.</p>
         </div>
    </footer>

</body>
</html>

